* {
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
	text-decoration: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.item {
	width: 33%;
	display: inline-block;
	vertical-align: text-top;
}

.title {
	position: relative;
	left: 10%;
	width: 80%;
	display: block;
	font-size: 90%;
}

img {
	position: relative;
	left: 10%;
	width: 80%;
}
